
<div class="row">
    <div class="col-md-12">

        <h2><%= expense._id %> - User <%= expense.user %></h2>
        <hr />
        <form method="post" action="/api/expenses/<%= expense.user %>/<%=expense._id%>">
            <fieldset>
                <legend>Expense Information</legend>
            
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="vendor">Vendor:</label>
                        <input class="form-control" id="vendor" name="vendor" type="text" 
                        value="<%= expense.vendor %>" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                             <label for="amount">Expense Amount:</label>
                            <input class="form-control" id="amount" name="amount" type="text" value="<%= expense.amount %>"/>
                        </div>
                    </div>
                   
                </div>

                  <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="date">Expense Date</label>
                                <input class="form-control" id="date" name="date" type="text" value="<%= expense.date %>"/>
                            </div>
                        </div>
                    </div>


                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="description">Expense Description:</label>
                        <input class="form-control" id="description" name="description" type="text" 
                        value="<%= expense.description %>" />
                        </div>
                    </div>
                </div>
            </fieldset>
<!--
            <fieldset>
                <legend>Other Information</legend>
                    
            </fieldset>
        -->
            <hr />
            <!--
            <form method="POST" action="/api/expenses/<%= expense._user %>/<%=expense._id%>?_method=PUT">
                <button class="btn btn-primary pull-right mt-4">Update Expense</button>
              </form>
            -->
              <input type="submit" class="btn btn-primary pull-right" value="Update Expense" /><br /><br /><br />

        </form>

    </div>
</div>